*{
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
h1{
    position: relative;
    font-size: 8em;
    color: #146832;
    text-transform: uppercase;
    border-bottom: 16px solid #146832;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}

h1:before{
    content: attr(fsk);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: bisque;
    overflow: hidden;
    border-bottom: 16px solid bisque;
    animation: animation 7s linear infinite;
}

@keyframes animation {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}