body{
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
    /*background-color: #0C1648;*/
    animation: mainscreen 3s linear infinite alternate;
}

@keyframes mainscreen {
    0% {
        background-color: #0C1648;
    }
    20% {
        background-color: #001F39;
    }
    
    40% {
        background-color: #260B48;
    }
    60% {
        background-color: #050A22;
    }
    80% {
        background-color: #120522;
    }
    100% {
        background-color: #000000;
    }
}

.baslik{
    /*display: inline-block;*/
    /*text-align: center;
    margin-top: 50px;
    color: white;
    letter-spacing: 0.5cm;
    position: absolute;
    animation: colorchange 3sn linear infinite alternate;
    margin-left: 28%;*/
    text-align: center;
    margin-top: 50px;
    letter-spacing: 0.5cm;
    color: #313131;
    font-weight: bold;
    /*position: absolute;*/
    animation: colorchange 20s infinite alternate;
}



@keyframes colorchange {
    0%{
      color: blue;
    }
    10%{   
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: blue;
    }
    50% {
      color: #34495e;
    }
    60% {
      color: blue;
    }
    70% {
      color: #2980b9;
    }
    80% {
      color: #f1c40f;
    }
    90%{
      color: #2980b9;
    }
    100%{
      
      color: pink;
    }
  }

/*@keyframes colorchange{
    0%{
        color: red;
    }
    20%{
        color: yellow;
    }
    40%{
        color: white;
    }
    60%{
        color: aquamarine;
    }
    80%{
        color: #a4523a;
    }
    100%{
        color: blueviolet;
    }
}*/



/*#container{
    width: 100%;
    height: 100%;
    background-color: red;
}*/




.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #005377;
    text-align: center;
    border-radius: 30px;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #a4523a;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    animation: borderchange 12s infinite alternate
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 280px;
    border-color: brown;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #a4523a;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    animation: borderchange 12s infinite alternate;
}

@keyframes borderchange{
    0%{
        border-color: blue;
      }
      10%{   
        border-color: #8e44ad;
      }
      20% {
        border-color: #1abc9c;
      }
      30% {
        border-color: #d35400;
      }
      40% {
        border-color: blue;
      }
      50% {
        border-color: #34495e;
      }
      60% {
        border-color: blue;
      }
      70% {
        border-color: #2980b9;
      }
      80% {
        border-color: #f1c40f;
      }
      90%{
        border-color: #2980b9;
      }
      100%{
        
        border-color: pink;
      }

}

.box input[type="submit"]:hover{
    background: #a4523a;
}