body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    /*background: url(bg.jpg);
    background-size: cover;
    animation: animateBg 60s linear infinite;*/
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(210%, 50%);
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    background: url(Cyber-1.jpg);
    background-size: cover;
    animation: animateEarth 12s linear infinite;
    /*border: 1.5px solid #666666;*/
    box-shadow: inset 0 0 40px rgba(255, 255, 255, .5s);
}

.pulse span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    animation: animate 6s linear infinite;
}

.pulse span:nth-child(1) {
    animation-delay: 0s;
}

.pulse span:nth-child(2) {
    animation-delay: -2s;
}

.pulse span:nth-child(3) {
    animation-delay: -3s;
}

.pulse span:nth-child(4) {
    animation-delay: -4s;
}

.pulse span:nth-child(1) {
    animation-delay: -5s;
}

@keyframes animate {
    0% {
        width: 200px;
        height: 200px;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

@keyframes animateEarth{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 719px 0;
    }
}

/*@keyframes animateBg{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 1600px 0;
    }
}*/